/* Lists of stories */

.stories-list {
    margin: 20px 5px;
  }
  
  .stories-list > li {
    color: gray;
    font-size: 0.8rem;
    margin: 10px 0;
  }
  
  #stories-loading-msg {
    font-weight: bold;
    font-size: 150%;
    margin: 20px 30px;
  }
  
  
  /* Individual stories */
  
  .story-link {
    color: black;
    font-size: 0.85rem;
    font-weight: 700;
    margin: 18px 0;
  }
  
  .story-link:hover {
    text-decoration: underline;
  }
  
  .story-author {
    display: block;
    margin: 5px 0;
    color: rgb(0, 169, 0);
    font-size: 0.75rem;
  }
  
  .story-user {
    display: block;
    color: orange;
    font-size: 0.75rem;
  }
  
  .star {
    margin-bottom: 10px;
    visibility: hidden;
    font-size: 17px;
    cursor: pointer;
  }
  
  .star:before {
   content: "\2606";
   visibility: visible;
  }
  
  .star:checked:before {
   content: "\2605";
  }
  
  .trash {
    padding-top: 10px;
    padding-left: 5px;
  }