h1 {
    background: crimson;
}

.class-style {
    background: violet;
}

#id-style {
    background: dodgerblue;
}

body h1 {
    background: olive;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    cursor: pointer;
}

span {
    width: 10%;
    margin: 2px;
    padding: 2px;
    background-color: bisque;
    color: black;
    border-color:black;
    border-radius: 10px;
    border: 2px solid black;
}

/* static
fixed
relative
absolute */